<mat-form-field>
  <mat-label for="search-input">Search a place</mat-label>
  <input
    #query
    type="text"
    id="search-input"
    matInput placeholder="Ex. Ibiza"
  >
  <ul *ngIf="results" class="results">
    <li *ngFor="let result of results; index as i" (click)="passSelected(i)">{{ i }} {{ result.name }}, {{ result.state }}, {{ result.country }}</li>
  </ul>
  </mat-form-field>

<button mat-raised-button color="secondary"
  (click)="passQuery(query.value); query.value='' ">Check weather</button>
