span {
  // display: block;
  font-size: 1.8rem;
}

.big-text {
  font-size: 25vw;
}

.mat-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  height: 50vh;
  background: #181f4ad1;
  color: white;
}
