<mat-card>
  <mat-card-content>
    <ul>
      <li>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>{{ current?.name }}, {{ current?.sys?.country }}
      </li>
      <li class="big-text">
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>{{ current?.main?.temp || '..' }}°C
      </li>
      <li>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>{{ current?.main?.feels_like }}
      </li>
      <li>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>{{ current?.main?.temp_max }}
      </li>
      <li>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>{{ current?.main?.temp_min }}
      </li>
      <li>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>{{ current?.main?.humidity }}
      </li>
      <li>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>{{ current?.main?.pressure }}
      </li>
      <li>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>{{ current?.coord?.lat }}
      </li>
      <li>
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </div>{{ current?.coord?.lon }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
